@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: linear-gradient(60deg, rgba(92, 99, 160, 0.568), rgba(231, 163, 158, 0.651), rgba(241, 241, 241, 0.822), rgba(140, 162, 236, 0.74));
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: 100vw 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.signin-form {
  background-color: #ffffff54;
  height: 470px;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  box-shadow: 0 1px 10px rgba(83, 83, 83, 0.521);
  transition: ease-out 0.3s;
}

.signin-form:hover {
  box-shadow: 0 1px 15px rgba(66, 66, 66, 0.521);
}

.signin-form h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.signin-form label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input {
  text-align: center;
  width: 250px;
  height: 30px;
  padding: 0.6rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  box-shadow: 0 0 0 2px #e6e6e6;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1abc9c;
}

button[type="submit"] {
  transition: ease-out 0.3s;
  width: 270px;
  padding: 1rem;
  background-color: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #148f77;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 470px;
  width: 370px;
  margin-top: 50px;
  box-shadow: 0 1px 10px rgba(83, 83, 83, 0.521);
  transition: ease-out 0.3s;
}

.contact-form:hover {
  box-shadow: 0 1px 15px rgba(66, 66, 66, 0.521);
}

.contact-form h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.contact-form label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.contact-form textarea {
  width: 250px;
  text-align: center;
  height: 100px;
  padding: 0.6rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1abc9c;
}

.confirmation-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.confirmation-page h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.confirmation-page p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width:600px){
  input {
    text-align: center;
    width: 150px;
    height: 20px;
    padding: 0.4rem;
    margin-bottom: 1.2rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    box-shadow: 0 0 0 2px #e6e6e6;
  }

  button[type="submit"] {
    width: 160px;
    height: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #1abc9c;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .signin-form {
    background-color: #ffffff54;
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 0 1px 10px rgba(83, 83, 83, 0.521);
    transition: ease-out 0.3s;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 250px;
    margin-top: 50px;
    box-shadow: 0 1px 10px rgba(83, 83, 83, 0.521);
    transition: ease-out 0.3s;
  }

  .contact-form textarea {
    width: 140px;
    text-align: center;
    height: 60px;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.8rem;
  }

  a {
    text-decoration: none;
  }
}